.Rproj.user
.Rhistory
.RData
.Ruserdata
Component_analysis_pipeline_2.R
PCA_ploygons2.png
plots/
old_plots/
abs_data/
*.png
*.jpg
*.txt
*.pdf
R/Component_analysis_pipeline.R
R/Component_analysis_pipeline_2.R
R/Component_analysis_pipeline_3_new_classification.R
R/Component_analysis_pipeline_paper.R
R/Component_analysis_pipeline_paper_2.R
REgression coeff.xlsx
VC calculations.xlsx
p-values.xlsx
pipeline2_pvalues.xlsx
